# Database URL (Supabase PostgreSQL / Cloud / MySQL)
# POSTGRES_URL_NON_POOLING="postgres://postgres.xxx:xxx@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
# DATABASE_URL="mysql+pymysql://root:@localhost:3306/smarthire"

# JWT Auth Secret Key
SECRET_KEY="YOUR_SUPER_SECRET_KEY_HERE"

# Optional: OpenAI API Key for Chatbot
OPENAI_API_KEY="your_openai_api_key_here"
